<%- include('../partials/adminpanelheader.ejs') %>
<%- include('./controlPanel.ejs') %>

<div class="container mx-auto lg:px-4 mt-8 text-slate-950">
    <div class="bg-white shadow-lg rounded-lg p-6">
        <h1 class="text-2xl font-bold mb-6">Ürün Oluştur</h1>
        <form action="/admin/urunolustur" method="POST" enctype="multipart/form-data">
            
            <div class="mb-4">
                <label for="baslik" class="block text-sm font-medium text-gray-700">Başlık:</label>
                <input type="text" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2" id="baslik" maxlength="55" name="baslik" required>
            </div>

            <div class="mb-4">
                <label for="price" class="block text-sm font-medium text-gray-700">Fiyat:</label>
                <input type="text" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2" id="price" name="price" maxlength="7" pattern="^\d+(\.\d{1,2})?$" title="Lütfen geçerli bir fiyat girin, örneğin 122.00" required>
            </div>

            <div class="mb-4">
                <label for="aciklama" class="block text-sm font-medium text-gray-700">Açıklama:</label>
                <textarea class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2" id="aciklama" name="aciklama"></textarea>
            </div>

            <div class="mb-4">
                <label for="turu" class="block text-sm font-medium text-gray-700">Türü:</label>
                <select name="turu" id="turu" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2">
                    <option value="1">Perde</option>
                    <option value="0">Mekanik Perde</option>
                </select>
            </div>

            <div class="mb-4">
                <label for="color" class="block text-sm font-medium text-gray-700">Renk:</label>
                <input type="text" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2" id="color" name="color">
            </div>

            <div class="mb-4">
                <label for="kategorisi" class="block text-sm font-medium text-gray-700">Kategoriler:</label>
                <select name="kategorisi" id="kategorisi" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2">
                    <% kategoriler.forEach(kategori => { %>
                        <option value="<%= kategori.category_id %>"><%= kategori.kategori_ad %></option>
                    <% }); %>
                </select>
            </div>

            <div class="mb-4">
                <label for="productdesc_id" class="block text-sm font-medium text-gray-700">Açıklama:</label>
                <select name="productdesc_id" id="productdesc_id" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2">
                    <% productdesc.forEach(desc => { %>
                        <option value="<%= desc.productdesc_id %>"><%= desc.desc_type %></option>
                    <% }); %>
                </select>
            </div>

            <div class="mb-4">
                <label for="resim" class="block text-sm font-medium text-gray-700">Resim Dosyası:</label>
                <input type="file" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" id="resim" name="resim" required>
            </div>

            <div class="mb-4">
                <label for="resim2" class="block text-sm font-medium text-gray-700">2. Resim Dosyası:</label>
                <input type="file" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" id="resim2" name="resim2" required>
            </div>

            <div class="mb-4">
                <label for="resim3" class="block text-sm font-medium text-gray-700">3. Resim Dosyası:</label>
                <input type="file" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" id="resim3" name="resim3" required>
            </div>

            <button type="submit" class="w-full mt-4 bg-slate-900 text-white font-semibold py-2 rounded hover:bg-blue-700 transition duration-200">Ürünü Oluştur</button>
        </form>
    </div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
