<%- include('../partials/adminpanelheader.ejs') %>
<%- include('./controlPanel.ejs') %>
<div class="container lg:px-4 mx-auto mt-5">
  <h2 class="text-3xl font-semibold text-slate-900 text-center mb-8">Kullanıcı Yönetimi</h2>

  <div class="overflow-x-auto shadow-lg rounded-lg">
    <table class="min-w-full table-auto bg-white border border-gray-200 rounded-lg">
      <thead class="bg-slate-800 text-white">
        <tr>
          <th class="px-6 py-3 text-left font-medium">ID</th>
          <th class="px-6 py-3 text-left font-medium">Email</th>
          <th class="px-6 py-3 text-left font-medium">Ad</th>
          <th class="px-6 py-3 text-left font-medium">Soyad</th>
          <th class="px-6 py-3 text-left font-medium">Yetki</th>
          <th class="px-6 py-3 text-center font-medium">İşlem</th>
        </tr>
      </thead>
      <tbody class="text-slate-900">
        <% users.forEach(user => { %>
          <tr class="border-t border-b hover:bg-slate-100">
            <td class="px-6 py-4"><%= user.user_id %></td>
            <td class="px-6 py-4"><%= user.email %></td>
            <td class="px-6 py-4"><%= user.first_name %></td>
            <td class="px-6 py-4"><%= user.last_name %></td>
            <td class="px-6 py-4"><%= user.role %></td>
            <td class="px-6 py-4 text-center">
                <a href="/admin/kullanici/<%= user.user_id %>/">
                  <button class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-200">Değiştir</button>
                </a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

</div>
</div>
