<%- include('../partials/header.ejs') %>








<div class="untree_co-section before-footer-section">
        <div class="container">
          <div class="row mb-5">
            <form class="col-md-12" method="post">
              <div class="site-blocks-table">
                <table class="table">
                  <thead>
                    <tr>
                        <th class="product-image">Görsel</th>
                        <th class="product-name">Başlık</th>
                        <th class="product-price">Fiyat</th>
                        <th class="product-category">Kategori</th>
                      <th class="product-remove">Düzenle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% urunler.forEach(urun => { %>
                        <tr>
                            <td class="product-thumbnail">
                        <img src="/uploads/<%=urun.resim%>" alt="Image" class="img-fluid">
                    </td>
                      <td class="product-name">
                          <h2 class="h5 text-black"><%=urun.urun_basligi%></h2>
                        <span class="opacity-0"><%= urun.cart_id %></span>
                    </td>
                      <td>₺<%= urun.product_price %></td>
                      <td>Stor Perde</td>
                      <td>
                        <a href="/admin/<%= urun.urun_id %>/duzenle"><button style="font-size: 1.2rem;" type="button" class="btn btn-black btn-sm remove-item"><i class="fa-regular fa-pen-to-square"></i></button></a>
                        <button type="button" style="font-size: 1.2rem;" class="btn btn-black btn-sm remove-item" onclick="confirmDelete('<%= urun.urun_id %>')">X</button>
                    </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
          <a href="/admin/panel"><button class="btn btn-secondary">Geri</button></a>


          


        </div>

        <script>
            function confirmDelete(urunId) {
        if (confirm('Emin misiniz?')) {
            // Silme işlemi için POST isteği gönder
            fetch('/admin/' + urunId + '/sil', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ urunId: urunId }),
            })
            .then(response => response.json())
            .then(data => {

                // Başarılı bir şekilde silindiğinde sayfayı yenile veya başka bir işlem yapabilirsiniz.
                window.location.reload();
            })
            .catch(error => {
                console.error('Silme işlemi sırasında hata oluştu:', error);
            });
        }
    }
</script>

<%- include('../partials/footer.ejs') %>