<%- include('../partials/adminpanelheader.ejs') %>
<%- include('./controlPanel.ejs') %>

<div class="container lg:px-4 mx-auto mt-8">
    <div class="untree_co-section before-footer-section">
        <div class="mb-5">
            <form method="post">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-white shadow-md rounded-lg">
                        <thead>
                            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                <th class="py-3 px-6 text-left">Görsel</th>
                                <th class="py-3 px-6 text-left">Başlık</th>
                                <th class="py-3 px-6 text-left">Fiyat</th>
                                <th class="py-3 px-6 text-left">Kategori</th>
                                <th class="py-3 px-6 text-left">Düzenle</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                            <% urunler.forEach(urun => { %>
                                <tr class="border-b border-gray-200 hover:bg-gray-100">
                                    <td class="py-4 px-6 text-left">
                                        <img src="/uploads/<%= urun.resim %>" alt="Image" class="w-16 h-16 object-cover rounded">
                                    </td>
                                    <td class="py-4 px-6 text-left">
                                        <h2 class="text-lg font-semibold text-black"><%= urun.urun_basligi %></h2>
                                        <span class="opacity-0"><%= urun.cart_id %></span>
                                    </td>
                                    <td class="py-4 px-6 text-left">₺<%= urun.product_price %></td>
                                    <td class="py-4 px-6 text-left">
                                        <%= urun.kategoriler ? urun.kategoriler.kategori_ad: 'Kategori Yok' %>
                                    </td>
                                    <td class="py-4 px-6 text-left">
                                        <a href="/admin/<%= urun.urun_id %>/duzenle" class="inline-block">
                                            <button type="button" class="bg-blue-600 text-white font-semibold rounded-md px-2 py-1 text-sm">
                                                <i class="fa-regular fa-pen-to-square text-white"></i>
                                            </button>
                                        </a>
                                        <button type="button" class="bg-red-600 text-white font-semibold rounded-md px-2 py-1 text-sm ml-2" onclick="confirmDelete('<%= urun.urun_id %>')">X</button>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function confirmDelete(urunId) {
        if (confirm('Emin misiniz?')) {
            fetch('/admin/' + urunId + '/sil', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ urunId: urunId }),
            })
            .then(response => response.json())
            .then(data => {
                window.location.reload();
            })
            .catch(error => {
                console.error('Silme işlemi sırasında hata oluştu:', error);
            });
        }
    }
</script>


</div>
</div>