<%- include('./partials/header.ejs') %>
<%- include('./partials/loader.ejs') %>
<%- include('./partials/notification.ejs')%>
<% if(!userCart){%>
  <section class="bg-white py-8 antialiased md:py-16 flex align-center justify-content-center h-60">
    <div class="bgwhite width-30 height-30 m-auto">
      <div class="flex justify-content-center align-center">
        <i class="fa-solid fa-cart-shopping"></i>

      </div>
          
      <h2 class="text-xl font-semibold text-slate-950 sm:text-2xl">Sepetinizde Ürün Bulunmamaktadır.</h2>
    </div>
  </section>
  <% }else{ %>
<section class="bg-white py-8 antialiased  md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <h2 class="text-xl font-semibold text-gray-900  sm:text-2xl">Alışveriş Sepeti</h2>

    <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
      <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
        <div class="space-y-6">
          <% userCart.forEach(cartItem => { %>
            <div class="flex my-auto  flex-row md:flex-row bg-white p-2 lg:p-4 rounded-lg shadow-sm border border-gray-200 mb-4">
              <!-- Resim Sol Tarafta (Mobilde Sol, PC için değişmez) -->
              <div class="flex-shrink-0 flex flex-col justify-center items-center content-center lg:my-auto md:mb-0 md:w-1/4 lg:mr-0 mr-5">
                <img class="h-24 lg:w-36 lg:h-40 w-24 rounded-md object-cover my-auto mx-auto md:mx-0 mb-5" src="/uploads/<%=cartItem.product.resim%>" alt="<%= cartItem.product.urun_basligi %>" />
                <div class="flex items-center">
                  <button type="button" id="decrement-button" class="p-2 rounded-lg border border-gray-300 hover:bg-gray-100 focus:outline-none">
                    <svg class="w-2 h-2 lg:w-4 lg:h-4 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
                    </svg>
                  </button>
                  <input type="number" id="counter-input" class="w-6 text-center text-sm font-medium text-gray-900 bg-transparent border-none focus:outline-none" disabled value="<%= cartItem.quantity %>" min="1" />
                  <button type="button" id="increment-button" class="p-2 rounded-lg border border-gray-300 hover:bg-gray-100 focus:outline-none">
                    <svg class="w-2 h-2 lg:w-4 lg:h-4 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
                    </svg>
                  </button>
                </div>
              </div>
            
              <!-- Ürün Bilgileri Sağ Tarafta (Mobilde Sağ, PC için değişmez) -->
              <div class="flex-1 flex flex-col justify-between md:ml-6">
                <!-- Başlık ve Kategoriler -->
                <div class="flex flex-col space-y-1">
                  <p class="text-lg font-semibold text-gray-800 truncate"><%= cartItem.product.urun_basligi %></p>
                  <% if (cartItem.product.discount_price) { %>
                  <p class="text-sm text-gray-600"><%= cartItem.product.kategoriler.kategori_ad %>, <%= cartItem.width %> CM x <%= cartItem.height %> CM ,<p class="text-sm text-gray-600 line-through"> ₺<%= cartItem.product.discount_price %></p><p class="text-sm font-semibold text-gray-500">₺<%= cartItem.product.product_price %></p>
                    <% } else { %>
                      <p class="text-sm text-gray-600"><%= cartItem.product.kategoriler.kategori_ad %>, <%= cartItem.width %> CM x <%= cartItem.height %> CM , <p class="text-sm font-semibold text-gray-500">₺<%= cartItem.product.product_price %></p>
                    <% } %>
                </div>
            
                <!-- Miktar ve Fiyat -->
                <div class="flex items-center justify-between mt-1 space-x-4">
                  <!-- Miktar Seçici -->

                  <% 
                  const quantity = parseFloat(cartItem.quantity) || 1; // Miktar değeri
                  const unitPrice = (cartItem.total_price / quantity).toFixed(2); // Birim fiyatı hesapla
                %>
                  <!-- Fiyat -->
                  <div class="text-right">
                    <p class="text-lg font-bold text-gray-700">₺<%= unitPrice %></p>
                  </div>
                </div>
            
                <!-- Silme ve Favorilere Ekle Butonları -->
                <div class="flex flex-row justify-between items-center mt-4 space-x-3">
                  <button type="button" class="flex items-center text-sm text-gray-500 hover:text-gray-700">
                    <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v18M3 12h18" />
                    </svg>
                    Favorilere Ekle
                  </button>
            
                  <button type="button" data-cartid="<%= cartItem.cart_id %>" class="remove-item flex flex-row text-sm text-red-600 hover:underline">
                    <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M18 18L6 6" />
                    </svg>
                    Sil
                  </button>
                </div>
              </div>
            </div>
            <% }); %>
            
            
        </div>
        <div class="hidden xl:mt-8 xl:block">
          <h3 class="text-2xl font-semibold text-gray-900 ">İlginizi Çekebilir</h3>
          <div class="mt-6 grid grid-cols-3 gap-4 sm:mt-8">
            <div class="space-y-6 overflow-hidden rounded-lg border border-gray-200 bg-white p-6 shadow-sm ">
              <a href="#" class="overflow-hidden rounded">
                <img class="mx-auto h-44 w-44 " src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front.svg" alt="imac image" />
                <img class="mx-auto hidden h-44 w-44 " src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front-dark.svg" alt="imac image" />
              </a>
              <div>
                <a href="#" class="text-lg font-semibold leading-tight text-gray-900 hover:underline ">iMac 27”</a>
                <p class="mt-2 text-base font-normal text-gray-500 ">This generation has some improvements, including a longer continuous battery life.</p>
              </div>
              <div>
                <p class="text-lg font-bold text-gray-900 ">
                  <span class="line-through"> $399,99 </span>
                </p>
                <p class="text-lg font-bold leading-tight text-red-600 ">$299</p>
              </div>
              <div class="mt-6 flex items-center gap-2.5">
                <button data-tooltip-target="favourites-tooltip-1" type="button" class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white p-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 ">
                  <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6C6.5 1 1 8 5.8 13l6.2 7 6.2-7C23 8 17.5 1 12 6Z"></path>
                  </svg>
                </button>
                <div id="favourites-tooltip-1" role="tooltip" class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 ">
                  Add to favourites
                  <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
                <button type="button" class="inline-flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium  text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 ">
                  <svg class="-ms-2 me-2 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4" />
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
            <div class="space-y-6 overflow-hidden rounded-lg border border-gray-200 bg-white p-6 shadow-sm ">
              <a href="#" class="overflow-hidden rounded">
                <img class="mx-auto h-44 w-44 " src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/ps5-light.svg" alt="imac image" />
                <img class="mx-auto hidden h-44 w-44 " src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/ps5-dark.svg" alt="imac image" />
              </a>
              <div>
                <a href="#" class="text-lg font-semibold leading-tight text-gray-900 hover:underline ">Playstation 5</a>
                <p class="mt-2 text-base font-normal text-gray-500 ">This generation has some improvements, including a longer continuous battery life.</p>
              </div>
              <div>
                <p class="text-lg font-bold text-gray-900">
                  <span class="line-through"> $799,99 </span>
                </p>
                <p class="text-lg font-bold leading-tight text-red-600">$499</p>
              </div>
              <div class="mt-6 flex items-center gap-2.5">
                <button data-tooltip-target="favourites-tooltip-2" type="button" class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white p-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 ">
                  <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6C6.5 1 1 8 5.8 13l6.2 7 6.2-7C23 8 17.5 1 12 6Z"></path>
                  </svg>
                </button>
                <div id="favourites-tooltip-2" role="tooltip" class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 ">
                  Add to favourites
                  <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
                <button type="button" class="inline-flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium  text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 ">
                  <svg class="-ms-2 me-2 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4" />
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
            <div class="space-y-6 overflow-hidden rounded-lg border border-gray-200 bg-white p-6 shadow-sm ">
              <a href="#" class="overflow-hidden rounded">
                <img class="mx-auto h-44 w-44" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/apple-watch-light.svg" alt="imac image" />
                <img class="mx-auto hidden h-44 w-44 " src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/apple-watch-dark.svg" alt="imac image" />
              </a>
              <div>
                <a href="#" class="text-lg font-semibold leading-tight text-gray-900 hover:underline ">Apple Watch Series 8</a>
                <p class="mt-2 text-base font-normal text-gray-500 ">This generation has some improvements, including a longer continuous battery life.</p>
              </div>
              <div>
                <p class="text-lg font-bold text-gray-900 ">
                  <span class="line-through"> $1799,99 </span>
                </p>
                <p class="text-lg font-bold leading-tight text-red-600">$1199</p>
              </div>
              <div class="mt-6 flex items-center gap-2.5">
                <button data-tooltip-target="favourites-tooltip-3" type="button" class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white p-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100">
                  <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6C6.5 1 1 8 5.8 13l6.2 7 6.2-7C23 8 17.5 1 12 6Z"></path>
                  </svg>
                </button>
                <div id="favourites-tooltip-3" role="tooltip" class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 ">
                  Add to favourites
                  <div class="tooltip-arrow" data-popper-arrow></div>
                </div>

                <button type="button" class="inline-flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium  text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300  ">
                  <svg class="-ms-2 me-2 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4" />
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
        <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm ">
          <p class="text-xl font-semibold text-gray-900">Sipariş Özeti</p>

          <div class="space-y-4">
            <div class="space-y-2">
              <dl class="flex items-center justify-between gap-4">
                <dt class="text-base font-normal text-gray-500 ">Tutar</dt>
                <dd class="text-base font-medium text-gray-900 ">₺<%= rawprice %></dd>
              </dl>
              <dl class="flex items-center justify-between gap-4">
                <dt class="text-base font-normal text-gray-500 ">%8 KDV</dt>
                <dd class="text-base font-medium text-gray-900 ">₺<%= withoutkdv.toFixed(2) %></dd>
              </dl>
              <% if (discount) { %>
              <dl class="flex items-center justify-between gap-4">
                <dt class="text-base font-normal text-gray-500 ">Kupon İndirimi</dt>
                <dd class="text-base font-medium text-green-600">-₺<%= discount.toFixed(2) %></dd>
              </dl>
              <% } %>
            </div>
            <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2">
              <dt class="text-base font-bold text-gray-900">Toplam</dt>
              <dd class="text-base font-bold text-gray-900">₺<%= totalCartPrice.toFixed(2) %></dd>
            </dl>
            </div>
            <form action="/odeme/siparisonayla" method="POST">
              <button 
                type="submit" 
                id="purchaseButton" 
                class="flex w-full items-center justify-center rounded-lg bg-lime-600 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300"
                <%= totalCartPrice <= 0 ? 'disabled' : '' %>
              >
                Siparişi Tamamla
              </button>
            </form>
            
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                const totalCartPrice = <%= totalCartPrice %>; // Sunucu tarafından gönderilen değişken
                const purchaseButton = document.getElementById('purchaseButton');
            
                // Butonu devre dışı bırak veya etkinleştir
                purchaseButton.disabled = totalCartPrice <= 0;
            
                // İstersen burada form submit kontrolü ekleyebilirsin
                const form = document.querySelector('form');
                form.addEventListener('submit', function(event) {
                  if (totalCartPrice <= 0) {
                    event.preventDefault(); // Formun gönderilmesini engelle
                    alert('Toplam tutar 0 veya daha düşük olamaz.'); // Kullanıcıya bilgi ver
                  }
                });
              });
            </script>

          <div class="flex items-center justify-center gap-2">
            <span class="text-sm font-normal text-gray-500 "> ya da </span>
            <a href="/urunler" title="" class="inline-flex items-center gap-2 text-sm font-medium text-primary-700 underline hover:no-underline ">
              Alışverişe devam et
              <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
              </svg>
            </a>
          </div>
        </div>

        <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm ">
          <form method="post" action="/kuponUygula" class="space-y-4">
            <div>
              <label for="voucher" class="mb-2 block text-sm font-medium text-gray-900 "> Kupon kodun var mı? </label>
              <input type="text" name="coupon_code" id="voucher" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 " placeholder="" required />
            </div>
            <button type="submit" id="apply-coupon" class="bg-slate-950 flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 ">Kodu Uygula</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
    <% } %>
<script>
  document.getElementById('apply-coupon').addEventListener('click', async () => {
      const couponCode = document.getElementById('coupon').value;
      try {
          const response = await fetch('/kuponUygula', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({ coupon_code: couponCode })
          });

          const result = await response.json();
          if (result.success) {
              location.reload();
          } else {
              alert(result.message);
          }
      } catch (error) {
          console.error('Hata:', error);
          alert('Bir hata oluştu.');
      }
  });
</script>


<script>
document.querySelectorAll('.remove-item').forEach(button => {
button.addEventListener('click', async (e) => {
const cartId = e.target.getAttribute('data-cartid');
try {
  const response = await fetch(`/${cartId}/sepetsil`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({})
  });
  const result = await response.json();
  if (result.success) {
    location.reload();
  } else {
    alert(result.message);
  }
} catch (error) {
  console.error('Hata:', error);
  alert('Bir hata oluştu.');
}
});
});
</script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/custom.js"></script>
<%- include('./partials/footer.ejs') %>