<%- include('./partials/header.ejs') %>
<%- include('./partials/loader.ejs') %>
<div class="main">
    <form class="submitorderform" action="/odeme/" method="post">
        <h2>Ödeme Bilgileri</h2>
        <div class="form-group">
            <label for="firstname">İsim: </label>
            <input class="form-control" id="firstname" type="text" name="firstname" required value="<%=userDetails.first_name%>">
        </div>
        <div class="form-group">
            <label for="lastname">Soyisim: </label>
            <input class="form-control" id="lastname" type="text" name="lastname" required value="<%=userDetails.last_name%>">
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input class="form-control" id="email" type="text" name="email" required value="<%=userDetails.email%>">
        </div>
        <div class="form-group">
            <label for="address">Adres: </label>
            <textarea class="form-control" id="address" name="address" required value="<%=userDetails.address%>"></textarea>
        </div>
        <div class="form-group">
            <label for="phone">Telefon: </label>
            <input class="form-control" type="text" id="phone" name="phone" required value="<%=userDetails.phone%>">
        </div>
    <div class="col-md-6 pl-5">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12 text-right border-bottom mb-5">
                        <h3 class="text-black h4 text-uppercase">Toplam</h3>
                    </div>
                </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <span class="text-black">Ara Toplam</span>
                </div>
            <div class="col-md-6 text-right">
                <strong class="text-black">₺<%= totalprice.toFixed(2) %></strong><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <span class="text-black">İndirim Tutarı</span>
            </div>
            <div class="col-md-6 text-right">
                <strong class="text-black"><strike>-₺<%= discount %></strike></strong>
            </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6">
                <span class="text-black">Toplam</span>
            </div>
        <div class="col-md-6 text-right">
            <strong class="text-black">₺<%= totalCartPrice %></strong>
        </div>
    </div>
    <input type="checkbox" name="mesafelisatissozlesmesi" required id="sellpolicy">
    <label class="spec-text" for="sellpolicy"><a class="a-text" href="/mesafeli-satis-sozlesmesi">Mesafeli satış sözleşmesini</a> okudum ve onaylıyorum</label>
    <input class="btn btn-black btn-lg py-3 btn-block" type="submit" value="Siparişi Onayla">
</form>
</div>

<%- include('./partials/footer.ejs') %>


