<%- include('./partials/header.ejs') %>
<%- include('./partials/loader.ejs') %>

<div class="header-category-area">
    <div class="category-curtain-types">
		<ul class="category-curtains-ul">
			<% productType.kategoriler.forEach(curtainc => { %>
				<a class="category-curtain-a" href="/urunler?kategoriID=<%=curtainc.category_low%>"><li class="category-curtains-li"><%=curtainc.kategori_ad  %></li></a>
				<% }); %>
		</ul>
	</div>
</div>

<div class="banner-hero">
    <div class="banner-container">
        <img src="/images/open-banner.png" class="">
        <p><a href="/urunler" class="btn btn-white-outline">Daha fazla</a></p>
    </div>
</div>

<!-- Start Product Section -->
<div class="product-section">
    <div class="container">
        <div class="row">

            <!-- Start New Products Slider -->
            <div class="product-slider">
                <div class="product-slider-title">
                    <h1 class="h1">Yeni Ürünler</h1>
                </div>
                <div class="product-news-area">
                    <i class="fa-solid fa-angle-left angle-left"></i>
                    <% newproducts.forEach(urun => { %>
                        <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                            <a class="product-item" href="/urun/<%= urun.urun_id %>">
                                <span class="<%= urun.kategoriler ? urun.kategoriler.category_low : '' %>"></span>
                                <img src="/uploads/<%= urun.resim %>" class="img-fluid product-thumbnail">
                                <h3 class="product-title"><%= urun.urun_basligi %></h3>
                                <span class="product-price-unit">Metrekare fiyatı</span><br>
                                <% if(urun.discount_price) { %>
                                <strong style="color:#6a6a6a;" class="product-price discount"><strike>₺<%= urun.discount_price %></strike></strong>
                                <strong class="product-price">₺<%= urun.product_price %></strong>
                                <% } else { %>
                                <strong class="product-price">₺<%= urun.product_price %></strong>
                                <% } %>
                            </a>
                        </div>
                    <% }); %>
                    <i class="fa-solid fa-angle-right angle-right"></i>
                </div>
            </div>
            <!-- End New Products Slider -->
			<div class="ads-area">
				<div class="ads-divs">
					<div class="ads-first">
						<div class="banner-discount">
							<span>Sepette %25'e varan indirim</span>
						</div>
						<div class="banner-ad-title">Fon Perdelerde İndirim</div>
						<div class="banner-button"><a class="btn" href="/urunler?kategoriID=kanatperde">Şimdi Al</a></div>
					</div>
					<div class="ads-second">
						<div class="banner-discount">
							<span>Sepette %30'a varan indirim</span>
						</div>
						<div class="banner-ad-title">Stor Perdelerde İndirim</div>
						<div class="banner-button"><a class="btn" href="/urunler?kategoriID=storperde">Şimdi Al</a></div>
					</div>
				</div>
			</div>
            <!-- Start Best Sellers Slider -->
            <div class="product-slider">
                <div class="product-slider-title">
                    <h1 class="h1">Çok Satanlar</h1>
                </div>
                <div class="product-top-sellers-area">
                    <% products.forEach(urun => { %>
                        <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                            <a class="product-item" href="/urun/<%= urun.urun_id %>">
                                <span class="<%= urun.kategoriler ? urun.kategoriler.category_low : '' %>"></span>
                                <img src="/uploads/<%= urun.resim %>" class="img-fluid product-thumbnail">
                                <h3 class="product-title"><%= urun.urun_basligi %></h3>
                                <span class="product-price-unit">Metrekare fiyatı</span><br>
                                <% if(urun.discount_price) { %>
                                <strong style="color:#6a6a6a;" class="product-price discount"><strike>₺<%= urun.discount_price %></strike></strong>
                                <strong class="product-price">₺<%= urun.product_price %></strong>
                                <% } else { %>
                                <strong class="product-price">₺<%= urun.product_price %></strong>
                                <% } %>
                            </a>
                        </div>
                    <% }); %>
                </div>
            </div>
            <!-- End Best Sellers Slider -->

            <div class="product-slider">
                <div class="product-slider-title">
                    <h1 class="h1">Fon Perdeler</h1>
                </div>
                <div class="product-top-sellers-area">
                    <% products.forEach(urun => { %>
                        <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                            <a class="product-item" href="/urun/<%= urun.urun_id %>">
                                <span class="<%= urun.kategoriler ? urun.kategoriler.category_low : '' %>"></span>
                                <img src="/uploads/<%= urun.resim %>" class="img-fluid product-thumbnail">
                                <h3 class="product-title"><%= urun.urun_basligi %></h3>
                                <span class="product-price-unit">Metrekare fiyatı</span><br>
                                <% if(urun.discount_price) { %>
                                <strong style="color:#6a6a6a;" class="product-price discount"><strike>₺<%= urun.discount_price %></strike></strong>
                                <strong class="product-price">₺<%= urun.product_price %></strong>
                                <% } else { %>
                                <strong class="product-price">₺<%= urun.product_price %></strong>
                                <% } %>
                            </a>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Neden Bizi Seçmelisiniz</h2>
                <p>Müşteri memnuniyetini en üst düzeyde tutmak için sunduğumuz hizmetlerle, alışveriş deneyiminizi keyifli ve kolay hale getiriyoruz. İşte bizi tercih etmeniz için bazı nedenler:</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/truck.svg" alt="Image" class="img-fluid">
                            </div>
                            <h3>Hızlı & Ücretsiz Teslimat</h3>
                            <p>Siparişlerinizi en kısa sürede ve ücretsiz olarak kapınıza kadar getiriyoruz. Zamanında teslimat konusunda bize güvenebilirsiniz.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/bag.svg" alt="Image" class="img-fluid">
                            </div>
                            <h3>Kolay Alışveriş</h3>
                            <p>Kullanıcı dostu web sitemiz ve mobil uygulamamız sayesinde, ihtiyaçlarınıza kolayca ulaşabilir ve rahatça alışveriş yapabilirsiniz.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/support.svg" alt="Image" class="img-fluid">
                            </div>
                            <h3>24/7 Destek</h3>
                            <p>Herhangi bir sorunuz veya sorununuz olduğunda, 7 gün 24 saat hizmet veren destek ekibimiz size yardımcı olmaktan mutluluk duyar.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/return.svg" alt="Image" class="img-fluid">
                            </div>
                            <h3>Hızlı Geri Dönüş</h3>
                            <p>Ürünlerimizden memnun kalmadığınızda, hızlı ve sorunsuz iade süreçlerimiz sayesinde rahatça geri gönderebilirsiniz.</p>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-lg-5">
				<div class="img-wrap">
					<img src="/images/banner-room.jpg" alt="Image" class="img-fluid">
				</div>
			</div>
        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->

<script>
    $(document).ready(function() {
        $(".show-now .btn .btn-secondary me-2").click(function() {
            $('html, body').scrollTop($(".product-section").offset().top);
        });
        console.log('çalıştı');
    });

    function toggleCategory(id) {
        const element = document.getElementById(id);
        element.style.display = (element.style.display === "none" || element.style.display === "") ? "block" : "none";
    }
</script>

<%- include('./partials/footer.ejs') %>