<%- include('./partials/header.ejs') %>
<style>
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #000;
  font-family: "Inter", sans-serif;
}
.discount-rate {
  background-color: #3c8526;
  color: white;
  width: 40px;
  font-size: 18px;
  font-family: sans-serif;
  padding-left: 2px;
  padding-right: 2px;
  align-items: center;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-right: 5px;
}
.calculate-price span, .price-page-area span {
  font-size: 18px;
  color: #000;
  font-weight: 700;
}
.product-span-area {
  border: 1px solid #e1ded9;
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  border-radius: .8rem;
  display: flex;
  align-items: center;
}
span.calculate-price {
  color: #000;
  font-weight: 700;
}
.product-p-p {
  color: #000;
  font-weight: 700;
  font-size: 24px;
} 
.product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
}
.product-span-area {
  display: flex;
  flex-direction: row;
}
.float-price-area {
  display: flex;
  flex-direction: column-reverse;
  line-height: 16px;
}
@media (max-width: 998px) {
  .product-container {
    flex-direction: column; 
  }
  .left-column {
    display: flex;
    justify-content: center;
  }
  .float-price-area {
    display: flex;
    flex-direction: column;
  }
  .product-span-area {
    display: flex;
    flex-direction: row;
  }
}
</style>

<main class="product-container">
  <!-- Left Column / Product Image -->
  <div class="left-column">
    <img data-image="red" class="product-image active" src="/uploads/<%= urun.resim %>" alt="<%= urun.urun_basligi %>">
  </div>

  <!-- Right Column -->
  <div class="right-column">
    <!-- Product Description -->
    <div class="product-description">
      <span><%= urun.kategoriler.kategori_ad %></span>
      <h1><%= urun.urun_basligi %></h1>
      <p><%= urun.aciklama %></p>
    </div>

    <!-- Product Configuration -->
    <div class="product-configuration">
      <form id="orderForm" action="/<%= urun.urun_id %>/sepetekle" method="POST">
        <div class="cable-config">
          <input type="hidden" name="urunId" value="<%= urun.urun_id %>">
          <h1>Sipariş Seçenekleri</h1>
          <span>Ölçü Bilgileri 'cm' cinsinden</span>
          <div class="cable-choose">
            <div class="height-area">
              <label for="height">Boy (cm):</label>
              <select name="height" id="height" class="form-control" required>
              </select>
            </div>
            <div class="width-area">
              <label for="width">En (cm):</label>
              <select name="width" id="width" class="form-control" required>
            </div>
            </select>
            <span class="calculate-price">Toplam fiyat: <span id="totalPrice">₺0</span></span><br>
          </div>
          <a href="/cok-sorulan-sorular#curtain-measure">Ölçü nedir? En ve Boy Ölçüsü Nasıl Alınır</a><br>
          <span>Takmatik Seçimi</span>
          <div class="cable-choose">
            <input type="button" class="form-control" value="Metal Klips">
            <input type="button" class="form-control" value="Plastik Klips">
          </div>
        </div>
    </div>

    <!-- Product Pricing -->
    <div class="product-page-price">
      <div class="product-span-area">
        <% if (discountRate > 8) { %>
        <div class="discount-rate">
          <span style="color: #fff;">%<%= discountRate.toFixed(0) %></span>
        </div>
        <% } %>
        <div class="float-price-area">
          <% if (urun.discount_price) { %>
          <div class="price-page-area">
            <span style="color: #6a6a6a; margin-right: 8px;" class="product-p-p"><strike>₺<%= urun.discount_price %></strike></span>
            <span class="product-p-p">₺<%= urun.product_price %>/m<sup>2</sup></span>
          </div>
          <% } else { %>
            <span class="product-p-p">₺<%= urun.product_price %>/m<sup>2</sup></span>
          <% } %>
        </div>
      </div>
      <div class="product-price-add-cart">
        <input type="submit" value="Sepete ekle" class="cart-btn">
      </div>
    </div>
    </form>
  </div>
</main>

<%- include('./partials/footer.ejs') %>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  
  function populateSelect(elementId, start, end) {
              const selectElement = document.getElementById(elementId);
              for (let i = start; i <= end; i++) {
                  const option = document.createElement("option");
                  option.value = i;
                  option.textContent = i;  // textContent kullanarak XSS açığını önleyin
                  selectElement.appendChild(option);
              }
          }
  
          // Boy için 50'den 400 cm'ye kadar olan aralığı doldur
          populateSelect("height", 50, 400);
  
          // En için 30'dan 300 cm'ye kadar olan aralığı doldur
          populateSelect("width", 30, 300);
  
  
  
$(document).ready(function() {
  function calculateTotalPrice() {
    const height = parseFloat($('#height').val());
    const width = parseFloat($('#width').val());
    const productPrice = parseFloat('<%= urun.product_price %>');

    if (!isNaN(height) && !isNaN(width)) {
      const squareMeters = (height * width) / 10000;
      const totalPrice = squareMeters * productPrice;
      $('#totalPrice').text(`₺${totalPrice.toFixed(2)}`);
    } else {
      $('#totalPrice').text('₺0');
    }
  }

  $('#height, #width').on('input', calculateTotalPrice);
});
</script>
